*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    padding: 10px;
    gap: 10px;
    background-color: rgb(184, 184, 205);
    align-items: center;
    
    
}
.logo{
    width: 180px;
    height: 100px;
    margin-left: 10px;
}
 .logo1{
    display: flex;
    width: 40px;
    height: 40;
    margin-left: 550px;
    gap: 10px;
}
ul{
    display: flex;
}
li{
    list-style: none;list-style: none;
    margin-left: 10px;
}
.link{
    text-decoration: none;
    color: rgb(242, 242, 247);
    font-size: 20px;

}
.link:hover{
    border: solid 2px black;
    background-color: blueviolet;
    border-radius: 5px;
}
div.banner img{
    width: 100%;
    height: 400px;
}
.container_detail{
    display: flex; ;
    margin-left: 450px;
}
.card{
    width: 450px;
    height: 850px;
    padding: 10px;
    border: 2px solid black;
    border-radius:  5px;
    background-color: rgb( 184, 184, 205)
}
 h2 {
    text-align: center;
    margin-bottom: 10px;
}
h6{
    text-align: center;
    font-size: 23px;
    padding: 10px;
}
.card_detail img{
    width: 100%;
    height: 280px;
    align-items: center;
    border-radius: 5px;
}
button.buy{
    width: 210px;
    height: 40px;
    border-radius: 5px;
    margin-left: 100px ;
    margin-top: 10px;
    background-color:cadetblue;
    color: rgb(243, 239, 239);
    cursor: pointer;
   
}
.contenedor_pie{
    display: flex;
    height: 280px;
    width: 100;
    background-color: cadetblue;
    margin-top: 10px;
}
.footer{
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.redes li img{
    width: 40px;
    height:  40px;
    margin-top: 230px;
}
.parrafo{
    font-size: 20px; 
    text-align: center;
    align-items: center;
}