/* variables*/
:root{
    --colorHeader:#134074;
    --colorFooter:#0B2545;
    --coorbackground:#EEF4ED;
    --cardColor:#8DA9C4;
    --botonesColor:#133156;
    --colorlineaCar:rgb(224, 141, 47);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--coorbackground);
}
.header{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 140px;
    background-color: var(--colorHeader);
    align-items: center;
    gap: 15px;
}
.logo{
    margin-left: 10px;
    width: 230px;
    height: 100px;
}
.logo1{
    margin-left: 600px;
    width: 35px;
    height: 35px;
    background-color: transparent;
}
.logo1:hover{
    width: 40px;
    height: 40px;
}

.link{
    color:var(--coorbackground);
    text-decoration:none;
}
.link:hover{
    background-color: white;
    color:blue;
    font-size: 19px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2.4px;
}
li {
    list-style: none;
}
ul{
    display: flex;
    gap: 10px;
}
h1{
    text-align: center;
}
.banner img{
    width: 100%;
    height: 400px;
}
.banner p{
    text-align: center;
    font-size: 3rem;
    color: rgb(224, 141, 47);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 8px rgba(0,0,0,8);
}
main{
    width:  auto;
    height: auto;
}
.container{
   display: flex;
   flex-wrap: wrap;
}/*tarjeta producto*/
.card{
    background: var(--cardColor);
    width: 270px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}
.card img{
    width: 100%;
    height: 150px;  
    margin-bottom: 10pxÑ;
}
h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 14px;
    text-align: center;
    color: azure;
    margin-bottom: 20px;
}
h6{
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
}
/* botones*/
.buy{
    width: 120px;
    height: 30px;
    color: rgb(193, 193, 209);
    background-color: var(--botonesColor);
    border-radius: 10px;
}
.buy:hover{
    background-color:var(--coorbackground);
    color: var(--colorFooter);
}/* estilo de contorno de tarjeta*/
.card:hover{
    border: 2px solid rgb(224, 141, 47);
    transform: scale(1.1);
    border-radius: 10px;
}

/* pie de pagina*/
.contenedor_pie{
    margin-top: 10px;
    display: flex;
    background-color: var(--colorFooter);
    width: 100%;
    height: 250px;
}
.footer{
     display: flex;   
     align-items: center;
}
.redes{
    list-style: none;
    margin-top: 200px;
    display: flex;
    gap: 0.5rem;
} 
li img{  
    width: 25px;
    height: 25px;
} 
 div .parafo p{
    font-size: 12px;
    
}
iframe{
    width: 250px;
    height: 180px;
    margin-top: 10px;
    padding: 10px;
}

